{:deps    {org.clojure/clojure                {:mvn/version "1.11.1"}
           missionary/missionary              {:mvn/version "b.27"}}

 :paths   ["src" "resources"]

 :aliases {:build {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.3" :git/sha "e537cd1"}}
                   :ns-default build
                   :jvm-opts   ["-Dclojure.compiler.direct-linking=true" "-Dclojure.spec.skip-macros=true"]}}}
